@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

* {
  box-sizing: border-box;
}

html,
body {
  min-width: 100dvw;
  min-height: 100dvh;
}

.field {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 2px;

  label {
    font-weight: bold;

    &.required::after {
      content: "*";
      font-weight: normal;
      display: inline-block;
      margin-left: 4px;
      color: var(--error);
    }
  }

  & .error-message {
    color: var(--error);
    margin-top: 2px;
    font-weight: normal;
    font-size: 0.9rem;
  }

  &:has(.error-message) {
    margin-bottom: 8px;
  }
}

label:has(#search) {
  position: relative;
}

input[type="text"] {
  color: var(--text);
  background: oklch(from var(--background) calc(l - 0.1) c h);
  border: 1px solid oklch(from var(--background) calc(l + 0.1) c h);
  padding: 8px;
  border-radius: 8px;
  width: 32ch;

  &.error {
    border-color: var(--error);
  }
}

#recommendations {
  z-index: 10;
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  background: oklch(from var(--background) calc(l * 1.2) c h);
  border-radius: 8px;
  padding: 0;
  border: none;
}

.recommendation:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.recommendation:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.recommendation {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  color: oklch(from var(--accent) calc(l * 0.9) c h);
}

.recommendation .trackArtistContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.recommendation:has(.track) .trackArtistContainer .artist {
  color: oklch(from var(--accent) calc(l * 0.7) c h);
  font-weight: normal;
  font-size: 0.8rem;
}

.recommendation:has(.track) .listeners {
  margin-bottom: auto;
}

.recommendation:hover,
.recommendation:focus-within,
.recommendation[aria-selected="true"] {
  background: oklch(from var(--background) calc(l * 1.4) c h);
}

input:focus-visible,
.recommendation[aria-selected="true"],
.recommendation:focus-within {
  outline: 1px solid var(--accent);
}

.recommendation .image {
  border-radius: 8px;
}

.recommendation .separator {
  content: "hi";
}

.recommendation .listeners {
  font-size: 0.7rem;
  color: oklch(from var(--accent) calc(l * 0.7) c h);
}

button {
  color: oklch(from var(--accent) calc(l * 0.2) c h);
  background: var(--accent);
  border: 1px solid var(--accent);
  padding: 8px;
  border-radius: 8px;
}

#scrobble {
  margin-top: 12px;
}

.cpi {
  position: relative;
  background-color: var(--background);
  border-radius: 100%;
  width: 16px;
  height: 16px;
  background: conic-gradient(from var(--angle), var(--accent) 20%, var(--background) 20%);
  animation: spinBackground 1s linear infinite;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0turn;
  inherits: false;
}

.cpi::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background-color: var(--background);
}

@keyframes spinBackground {
  0% {
    --angle: -0.1turn;
  }
  30% {
    --angle: 0.1turn;
  }
  70% {
    --angle: 0.7turn;
  }
  100% {
    --angle: 0.9turn;
  }
}
